:root {
  --headings-font-family: "Libre Baskerville", serif;
  --secondary-font-family: "Anek Tamil", sans-serif;
  --primary-color: #e4e9be;
  --secondary-color: #fafdd6;
  --primary-font-color: #e6ba95;
  --secondary-font-color: #a2b38b;
}
.mainpage {
  background-color: var(--secondary-color);
}
.container {
  background-color: #fafdd6;
}
.searchBar {
  border: none;
  background-color: #fafdd6;
  font-family: var(--headings-font-family);
  text-align: center;
}
.searchBarDiv {
  text-align: center;
  margin-top: 30px;
  padding: 20px;
}
button {
  background-color: var(--primary-color) !important;
  border-color: white !important;
}
.currentWeatherDiv {
  text-align: center;
  padding-top: 120px;
  line-height: 5em;
}
.currentWeatherDiv h1 {
  font-family: var(--headings-font-family);
  background-image: linear-gradient(
    90deg,
    rgba(162, 179, 139, 1) 1%,
    rgba(230, 186, 149, 1) 33%
  );
  background-size: 100%;
  background-clip: text;
  color: transparent;
  margin-top: 90px;
}
.currentWeatherDiv h2 {
  font-family: var(--headings-font-family);
}
.weatherIcon {
  position: absolute;
  margin-top: -13px;
  margin-left: 50px;
  font-size: 90px;
}
.degreeDiv {
  position: absolute;
  margin-left: 130px;
  margin-top: 15px;
}
.currentDayDegree {
  color: var(--secondary-font-color);
  font-size: 50px;
}
.degreeSpan {
  color: var(--secondary-font-color);
  position: absolute;
  margin-left: 30px;
  margin-top: -70px;
  font-weight: bold;
}
.currentWeatherInfo {
  font-family: var(-- --secondary-font-family);
  font-weight: 500;
  color: var(--primary-font-color);
  line-height: 3em;
}
.weekForecastDiv {
  text-align: center;
}
.forecastContainer {
  margin-top: 20px;
}
.weekDay {
  margin-right: 70px;
  font-family: var(--headings-font-family);
  color: var(--secondary-font-color);
}
.weekDayStat {
  margin: 10px;
  font-family: var(--secondary-font-family);
  font-weight: 800;
  color: var(--primary-font-color);
}
footer {
  text-align: center;
  padding-top: 20px;
}
footer {
  color: var(--primary-font-color);
}
.githubLink {
  color: var(--secondary-font-color);
  text-decoration: none;
}
